
#wt-omni-widget {
  .wt-input {
    cursor: text;
  }

  .wt-input__wrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: var(--border-radius--square);
      z-index: 1;
      pointer-events: none;
    }
  }

  .wt-label {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .wt-input__input {
    @extend %typo-body-md;
    @include wt-placeholder;

    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    transition: var(--transition);
    color: var(--contrast-color);
    border-radius: var(--border-radius--square);
    box-shadow: var(--morf-style-down-50);
    border: none;
    outline: none;
  }

  .wt-input--invalid {
    .wt-input__wrapper {
      &:before {
        border-color: var(--negative-color);
      }
    }
  }

  &.wt-omni-widget--rounded {
    .wt-input__wrapper {
      &:before {
        border-radius: var(--border-radius--rounded);
      }
    }

    .wt-input__input {
      border-radius: var(--border-radius--rounded);
    }
  }
}
