@import 'typography/typography';
@import 'variables/index';

@import '../webitel-ui/css/scroll';

body {
  @extend %typo-body-md;
}

button {
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: none;
}
