@import 'typography/typography';
@import 'variables/index';
@import 'variables/variables';
@import 'styleguide/placeholder/placeholder';

@import '../webitel-ui/css/scroll';

.wt-omni-widget--reset-styles,
.wt-omni-widget--reset-styles * {
  all: revert;
}

#wt-omni-widget {
  body {
    @extend %typo-body-md;
  }

  button {
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  p {
    margin: 0;
  }
}
