%typo-heading-lg {
  font: {
    family: 'Montserrat Semi', monospace;
    size: 20px;
  }
  line-height: 24px;
}

%typo-heading-md {
  font: {
    family: 'Montserrat Regular', monospace;
    size: 12px;
  }
  line-height: 14px;
  font-weight: 600;
}

%typo-strong-md {
  font: {
    family: 'Montserrat Semi', monospace;
    size: 12px;
  }
  line-height: 14px;
}

// WT-TOOLTIP DEPENDENCY

%typo-body-md {
  font: {
    family: 'Montserrat Regular', monospace;
    size: 12px;
  }
  line-height: 14px;
}

%typo-body-lg {
  font: {
    family: 'Montserrat Regular', monospace;
    size: 14px;
  }
  line-height: 16px;
}

%typo-body-md {
  font: {
    family: 'Montserrat Regular', monospace;
    size: 12px;
  }
  line-height: 14px;
  font-weight: 400;
}

%typo-body-sm {
  font: {
    family: 'Montserrat Regular', monospace;
    size: 10px;
  }
  line-height: 14px;
}
