:root {
  // configured values
  --brand-color-hue: 45;
  --buttons-menu-opacity: 1;

  --accent-color: hsla(var(--brand-color-hue), 100%, 50%, 1);
  --subaccent-color: hsla(var(--brand-color-hue), 100%, 50%, 0.3);

  --main-color: hsla(0, 0%, 100%, 1);
  --contrast-color: hsla(0, 0%, 20%, 1);
  --secondary-color: hsla(202, 20%, 90%, 0.5);
  --background-color: hsla(0, 0%, 97%, 1);
  --positive-color: hsla(119, 60%, 40%, 1);
  --negative-color: hsla(11, 80%, 50%, 1);

  --agent-message-color: hsla(202, 20%, 90%, 0.5);
  --client-message-color: hsla(var(--brand-color-hue), 100%, 50%, 0.5);
  --event-message-color: hsla(0, 0%, 100%, 1);

  --icon-main-color: hsla(202, 100%, 15%, 1);
  --icon-contrast-color: hsla(0, 0%, 100%, 1);

  --telegram-color: hsla(213, 56%, 67%, 1);
  --viber-color: hsla(267, 46%, 46%, 1);
  --whatsup-color: hsla(92, 51%, 67%, 1);
}
