#wt-omni-widget {
  --transition: 0.2s all;

  // offset
  --chat-offset: 30px;

  // BORDER RADIUS
  --border-radius--square: 5px;
  --border-radius--rounded: 20px;
  --border-radius--rounded-xl: 100px;
  --border-radius--rounded-btn: 40px;
}

// breakpoints
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 820px;
$breakpoint-xs: 600px;

.wt-omni-widget-chat-message {
  --client-message-border-radius--square: 5px 5px 0px 5px;
  --client-message-border-radius--rounded: 30px 30px 0px 30px;

  --agent-message-border-radius--square: 5px 5px 5px 0px;
  --agent-message-border-radius--rounded: 30px 30px 30px 0px;

  --event-message-border-radius--square: 5px 5px 5px 5px;
  --event-message-border-radius--rounded: 30px 30px 30px 30px;
}

// PADDING
.wt-omni-widget-buttons-menu {
  --buttons-menu-padding: 10px;
}

.wt-omni-widget {
  --main-app-padding: 15px;
  --app-gap-sm: 5px;
  --app-gap-md: 10px;

  --appointment-time-wrap-padding: 10px;
  --appointment-time-padding: 15px;

  .wt-omni-widget-window-header {
    --header-padding: 10px 10px 10px 15px;
  }

  --footer-padding: 5px 10px;
}

.wt-omni-widget-chat-input {
  --message-input-padding: 10px 15px;
}

.wt-omni-widget-chat-message {
  --message-padding: 15px;
  --message-padding--event: 10px 20px;
}

.wt-icon-btn {
  --icon-btn-padding--sm: 6px;
  --icon-btn-padding--md: 10px;
  --icon-btn-padding--xl: 18px;
}
